<div class="container">
  <div class="row">
    <h3>Template Driven Form Example</h3>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #formElement="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="form-control" ngModel
                   required="required"/>
          </div>
          <button class="btn btn-default btn-sm" type="button" (click)="onsuggUsername()"> Suggest an Username</button>
          <div class="form-group">
            <label for="mail">Mail</label>
            <input type="email" id="mail" name="mail" class="form-control" ngModel required="required" email
                   #email="ngModel"/>
            <span class="help-block" *ngIf="!email.valid">
            Please enter a Valid email.
          </span>
          </div>
          <p *ngIf="!userData.valid && userData.touched"> User Data is invalid!.</p>
          <div class="form-group">
            <label for="secret">Secret Questions</label>
            <select name="secret" id="secret" class="form-control input-sm" ngModel>
              <option value="pet">Your first Pet?</option>
              <option value="teacher">Your first Teacher?</option>
            </select>
          </div>
          <div class="form-group">
          <textarea class="form-control input-sm" name="questionAnswer" id="questionAnswer" cols="30" rows="3"
                    [(ngModel)]="answer"></textarea>
          </div>
          <p> Yoour reply: {{answer}}</p>
          <div class="radio" *ngFor="let gender of genders">
            <label><input type="radio" name="gender"
                          ngModel [value]="gender">{{gender}}</label>
          </div>
        </div>
        <button
          class="btn btn-primary btn-sm"
          type="submit"
          [disabled]="!formElement.valid">Submit
        </button>
      </form>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
      <p>username: {{user.username}}</p>
      <p>mail : {{user.mail}}</p>
      <p>question : {{user.question}}</p>
      <p>answer: {{user.answer}}</p>
      <p> gender: {{user.gender}}</p>
    </div>
  </div>
</div>
