<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit (ingredientAdded)="addIngredient($event)"></app-shopping-edit>
    <hr/>
    <div class="table-responsive">
      <table class="table table-bordered" border="1">
        <thead appHighlights [background]="'green'" [color]="'red'">
        <tr>
          <th>SLNo.</th>
          <th>Ingredient</th>
          <th>Amout</th>
          <th>Option</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ingredient of ingredients; let i =index">
          <td class="col-xs-1">{{i + 1}}</td>
          <td>{{ingredient.name}}</td>
          <td>{{ingredient.amout}}</td>
          <td class="col-xs-2">
            <div class="btn-group">
              <span class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-edit"></i></span>
              <span class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- example switch case-->
<div class="row">
  <div class="col-xs-12">
    <div [ngSwitch]="6">
      <p *ngSwitchCase="4">value=4</p>
      <p *ngSwitchCase="5">value=5</p>
      <p *ngSwitchCase="8">value=8</p>
      <p *ngSwitchCase="9">value=9</p>
    </div>
  </div>
</div>
<!-- example switch case-->
<div class="row">
  <div class="col-xs-12">

  </div>
</div>
