<p>Authenticated</p>
<div class="row">
  <div class="col-xs-12">
    <div class="pull-right">
      <button class="btn btn-warning" routerLink="/example/auth/logout">Logout</button>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">

    <form action="">
      <div class="col-xs-12">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <input type="text" class="form-control input-sm">
        <button class="btn btn-primary"> Save</button>
        <button class="btn btn-danger">Clear</button>
      </div>
    </form>
  </div>
</div>
