<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="httpExampleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title"
                 class="input-sm form-control"
                 formControlName="title"/>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea id="content"
                    class="input-sm form-control"
                    formControlName="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit"
                  class="btn btn-primary btn-sm"
                  [disabled]="httpExampleForm.status!=='VALID'"> Send Post
          </button>
        </div>
      </form>
    </div>

  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <button class="btn btn-sm btn-success" (click)="onfetchData()">Fetch</button>
        <button class="btn btn-sm btn-warning">Clear</button>
      </div>
      <div class="form-group">
        <div class="table-responsive">
          <table class="table table-bordered" border="1">

            <tbody>
            <tr *ngFor="let d of postData; let i =index;">
              <td>{{i + 1}}</td>
              <td>{{d.title}}</td>
              <td>{{d.content}}</td>
            </tr>
            <tr *ngIf="postData===null">
              <td>No Records found!...</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
