<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form [formGroup]="httpExampleForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" id="title"
                 class="input-sm form-control"
                 formControlName="title"/>
        </div>
        <div class="form-group">
          <label for="content">Content</label>
          <textarea id="content"
                    class="input-sm form-control"
                    formControlName="content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit"
                  class="btn btn-primary btn-sm"
                  [disabled]="httpExampleForm.status!=='VALID'"> Send Post
          </button>
        </div>
      </form>
    </div>

  </div>
  <hr/>
  <div class="row">
    <div class="col-xs-12">
      <div class="form-group">
        <button class="btn btn-sm btn-success" (click)="onfetchData()">Fetch</button>
        <button class="btn btn-sm btn-warning">Clear</button>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p *ngIf="postData.length<1 &&!isfetching">
            No Records found!...
          </p>
          <ul class="list-group" *ngIf="postData.length>=1 &&!isfetching">
            <li class="list-group-item" *ngFor="let d of postData; let i =index;">
              <h3>{{d.title}}</h3>
              <p>{{d.content}}</p>
            </li>
          </ul>
          <p *ngIf="isfetching">
            Loading!.....
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
